@font-face {
    font-family: MyHelvetica;
    src: local("Helvetica Neue Bold"),
    local("HelveticaNeue-Bold"),
    url(MgOpenModernaBold.ttf);
    font-weight: bold;
  }
  
html {
    background-color: #dbfeff;
    box-sizing: border-box;
}

a {
    color: white;
    transition: 1s;
    text-decoration: none;
}

a:hover {
    color: #003bdf;
}

body {
    background-color: var(--theme-body-background-color);
    font-size: 14px;
    line-height: 1.75;
}

header {
    position: relative;
    width: 100%;
    padding: 10px;
    background-color: #003bdf;
    height: 130px;
    border-radius: 5px;
}


.nav-list {
    position: absolute;
    right: 0;
    list-style: none;
}

.nav-list li {
    display: inline-block;
    margin-right: 25px;
    margin-top: 25px;
}

.nav-list li a {
    text-decoration: none;
    border-radius: 10px;
    font-size: 25px;
    color: white;
    transition: 1s;
    padding: 15px 20px;
}


.nav-list li a:hover {
    background-color: #fafafa;
    color: rgb(1, 0, 85);
}

h1 {
    display: block;
    text-align: center;
    margin-bottom: 2px;
}

main {
    margin-bottom: 70px;
}

form {
    background-color: #005ed8;
    padding: 30px;
    width: 47%;
    margin-bottom: 50px;
    display: inline-block;
}

input,
textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    resize: none;
}

.label-radio {
    display: inline-block;
}

label {
    color: #CCCCCC;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

iframe {
    width: 45%;
    display: inline-block;
    margin-right: 2%;
}


.img-main {
    display: block;
    margin: 0 auto;
    transition: 1s;
}


.grid-container{
    display: grid;
    grid-template-rows: repeat(4, 20vh);
    grid-template-columns: 150px 150px 150px;
    grid-gap:5% ;


}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.selector-for-some-widget {
    box-sizing: content-box;
  }

footer {
    position: relative;
   
}


.foot{
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #003bdf;
    height: 150px;
    color: white;
    text-align: justify;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 5px;
}

.links {
    width: 100%;
    text-align: left;
    display: inline-block;
}

i {
    margin-right: 1px;
    transition: 1s;
}

i:hover {
    color: rgb(255, 245, 245);
}

.cabecera{
background: hsl(0, 0%, 20%);
}

.centrado{
	margin: 0 auto;
	padding: 0 0.8em;
}


img{
	display: block;
	border:0;
	width: 100%;
	height: auto;
}

video {
    width: 100% !important;
    height: auto !important;
  }